.container {
  width: 100%;
}

.main {
  position: relative;
  padding-top: 10px;
  @media (max-width: 768px) {
    padding-top: 30px;
  }

  animation: fadeIn 0.7s ease;
}

.answers {
  margin-top: 16px;
  margin-bottom: 12px;
  display: flex;
  min-height: 170px;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .explanation {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &Btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
