.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.answers {
  display: flex;
  min-height: 170px;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &Btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
