.resultsContainer {
  margin-top: 24px;
  padding: 24px;
  border-radius: 8px;

  @media (max-width: 768px) {
    margin-top: 8px;
    padding: 16px;
  }
}

.resultElementsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @media (max-width: 500px) {
    gap: 4px;
  }
}

.resultElement {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  border-radius: 8px;
  user-select: none;
  width: 100%;
  border: 1px solid;
  overflow-wrap: break-word;
  font-weight: 400;
  padding: 16px;

  @media (max-width: 500px) {
    font-size: 14px;
    flex-direction: column;
    gap: 8px;
  }

  @media (max-width: 350px) {
    font-size: 12px;
  }
}

.resultTexts {
  margin-left: 16px;
  width: stretch;

  @media (max-width: 500px) {
    margin-left: 0;
  }
}

.navigation {
  margin-top: 32px;
  display: flex;
  gap: 16px;

  @media (max-width: 360px) {
    font-size: 14px;
  }
}
