.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 7px;
  border-radius: 8px;
  width: 248px;
  min-height: 66px;
  border: 1px solid;
}
