.card {
  position: relative;
  width: 100%;
  height: 230px;
  padding: 10px 14px;
  display: flex;
  flex-direction: column;

  border-radius: 8px;

  gap: 6px;

  > *:last-child {
    margin-top: auto;
  }

  &Heading {
    display: flex;
    gap: 7px;
    align-items: center;
  }

  &Title {
    font-size: 18px;
    @media (max-width: 360px) {
      font-size: 17px;
    }
  }

  &Body {
    flex: 1;
    overflow-y: auto;
    min-height: 0;

    display: flex;
    flex-direction: column;
    padding-right: 4px;
    gap: 3px;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
      width: 3px;
      display: block;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      background-color: rgba(226, 232, 240, 0.4);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(203, 213, 225, 0.8);
      border-radius: 3px;
    }
  }

  &Info {
    > *:last-child {
      margin-left: auto;
    }
  }

  &Tags {
    display: flex;
    margin-top: 7px;
    gap: 6px;
    flex-wrap: wrap;
    height: auto;
  }

  &Footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
