.category_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  height: 8px;
  width: 100%;
  border-radius: 8px;
  background-color: #e2e8f0;
}

.line_filled {
  height: 100%;
  border-radius: 8px;
  display: block;
  background-color: rebeccapurple;
}
