.header {
  min-height: 64px;
  background-color: var(--content-background);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  font-size: 14px;

  &Inner {
    min-height: inherit;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Left {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &Right {
    display: flex;
    align-items: center;

    > *:last-child {
      margin-left: 30px;
    }
  }
}

.logo {
  width: 40px;
  height: 40px;
  display: block;
}

.title {
  user-select: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}

.descrip {
  user-select: none;
  font-size: 12px;
  line-height: 166%;
}

.userName {
  font-size: 14px;
  line-height: 143%;
  padding-left: 16px;
  margin-left: 16px;
  margin-right: 8px;
}
