.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
}

.cards {
  width: 100%;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 16px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  @media (max-width: 360px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &Pagination {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }
}

.errorContainer {
  margin-top: 50px;
  align-self: center;
  justify-self: center;
}
