.wrapper {
  width: 100%;
  padding: 16px;
  padding-bottom: 24px;
  border-radius: 8px;
}

.header {
  margin-bottom: 24px;
}

.category_list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
