.navList {
  display: flex;
  gap: 12px;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  font-size: 14px;
  border-radius: 8px;
  transition: all 0.3s ease;

  @media (hover: hover) and (pointer: fine) {
    &:not(.active):hover {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
}
