.progressInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.questionNumber {
  font-weight: bold;
}

.progressBar {
  margin-bottom: 48px;

  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
}
