:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  --background: #f4f7fa;
  --text-color: #0f172a;
  --content-background: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

html,
body {
  min-height: 100svh;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input:not([type='radio']):not([type='checkbox']) {
  &:hover,
  &:focus {
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    outline: none;
  }
}

input:-webkit-autofill {
  /* Используем box-shadow вместо background-color, чтобы перекрыть автозаполнение */
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  /* Устанавливаем цвет текста, если он меняется */
  -webkit-text-fill-color: black !important;
  /* Убираем фон */
  background-color: transparent !important;
}

ul {
  list-style: none;
}
